<nav id="container">
  <img id="logo" src = "assets/logo.png" alt="Logo">
  <span id="navTitle">Customer Manager</span>
      <a class="anchor" routerLinkActive="anchor2" routerLink="/customers"> Customers</a>
      <a class="anchor" routerLinkActive="anchor2" routerLink="/orders">Orders</a>
      <a class="anchor" routerLinkActive="anchor2" routerLink="/about">About</a>
      <a class="anchor" routerLinkActive="anchor2" routerLink="/login">Login</a>
      
</nav>
<div style="clear:both;"></div>



