<div id="customer">
  <div id="title">
    <span id="name">{{ob.name}} {{ob.surname}}</span>
    <a href="#" class="fa fa-pencil-square-o" id="edit" aria-hidden="true"></a>
  </div>
  <div id="content">
      <ng-container *ngIf="ob.sex === 'M'; else f">
          <i class="fa fa-mars" aria-hidden="true" id="male"></i>
        </ng-container>
      <ng-template #f>
              <i class="fa fa-venus" aria-hidden="true" id="female"></i>
      </ng-template>
  <div id="info">   
    <span id="voivodeship">{{ob.voivodeship}},</span>
    <span id="city">{{ob.city}}</span>
    <a href="#" id="navigate">View Orders</a>
  </div>   
  </div>
</div>