<div id="container">
  <i class="fa fa-user-o" id="logo" aria-hidden="true"></i><span id="title">Customers</span>
  <nav>
    <a class="navigation" routerLinkActive="navigation2" routerLink="/customers/card-view"><i class="fa fa-th-large" aria-hidden="true"></i> Card View</a>
    <a class="navigation" routerLinkActive="navigation2" routerLink="/customers/list-view"><i class="fa fa-align-justify" aria-hidden="true"></i> List View</a>
    <a class="navigation" routerLinkActive="navigation2" routerLink="/customers/map-view"><i class="fa fa-map-marker" aria-hidden="true"></i> Map View</a>
    <a class="navigation" routerLinkActive="navigation2" routerLink="/customers/new-customer"><i class="fa fa-plus" aria-hidden="true"></i> New Customer</a>
    <div id="filtr">Filter: <input type="text"></div>
  </nav>
</div>
<router-outlet></router-outlet>